body {
    font-family: "Barlow",sans-serif;
    margin-bottom: 60px;
    background-color: rgb(128 128 128 / 0.08);
}
.login{
    padding-top:40px;
}
.login .form-control:hover,
.login .form-control:focus{
    box-shadow: none;
    border-color: #ffa500;
}
.btn {
    background-color: #ffa500;
    font-weight: 400;
    border-color: #ffa500;
}
.btn:hover,
.btn:focus{
    background-color:#d68d04de;
    box-shadow:none;
    border-color:#d68d04de;
}
